<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="breadcrumb-container">
  <div class="breadcrumb-nav">
    <div
      *ngFor="let section of sections; let i = index"
      class="breadcrumb-item"
      [ngClass]="{'active': section.id === activeSection, 'complete': section.complete}"
      (click)="onSectionClick(section.id)">
      <div class="breadcrumb-icon">
        <i class="material-icons">{{section.icon}}</i>
      </div>
      <span class="breadcrumb-label">{{section.label}}</span>

      <div class="breadcrumb-connector" *ngIf="i < sections.length - 1"></div>
    </div>
  </div>
</div>
