<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="section-container qr-code-section">
  <h2>QR Code</h2>
  
  <div class="qr-options">
    <div class="qr-preview">
      <div class="qr-container" *ngIf="qrDataString">
        <qrcode 
          [qrdata]="qrDataString" 
          [width]="200" 
          [errorCorrectionLevel]="'M'"
          [colorDark]="darkColor"
          [colorLight]="'#ffffff'">
        </qrcode>
      </div>
      <div class="no-qr" *ngIf="!qrDataString">
        Fill in your contact details to generate a QR code
      </div>
    </div>
    
    <div class="qr-form">
      <h3>QR Code Information</h3>
      <p class="qr-description">Generate a QR code with your contact information to make it easy for recruiters to save your details.</p>
      
      <div class="form-row">
        <div class="form-field">
          <label for="qrName">Name</label>
          <input type="text" id="qrName" [(ngModel)]="qrName" name="qrName" (input)="updateQrCode()">
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-field">
          <label for="qrPhone">Phone Number</label>
          <input type="tel" id="qrPhone" [(ngModel)]="qrPhone" name="qrPhone" (input)="updateQrCode()">
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-field">
          <label for="qrEmail">Email</label>
          <input type="email" id="qrEmail" [(ngModel)]="qrEmail" name="qrEmail" (input)="updateQrCode()">
        </div>
      </div>
      
      <div class="form-row">
        <div class="form-field">
          <label for="qrPortfolio">Portfolio URL</label>
          <input type="url" id="qrPortfolio" [(ngModel)]="qrPortfolio" name="qrPortfolio" (input)="updateQrCode()">
        </div>
      </div>
      
      <div class="form-row color-options">
        <div class="form-field">
          <label>QR Code Color</label>
          <div class="color-pickers">
            <input type="color" [(ngModel)]="darkColor" name="darkColor" (input)="updateQrCode()">
            <span>{{ darkColor }}</span>
          </div>
        </div>
      </div>
      
      <div class="qr-actions">
        <button (click)="downloadQrCode()" [disabled]="!qrDataString" class="btn-download">
          Download QR Code
        </button>
      </div>
    </div>
  </div>
</div>
